<form id="searchForm">
    <label for="query">Kueri Pencarian:</label>
    <input type="text" id="query" name="query" required>
    <br>
    <input type="submit" value="Cari">
</form>
<b id="searchInfo"></b>
<div id="results"></div>
<button onclick="exportToCSV()">Ekspor ke CSV</button>
<button onclick="sendDataToBackend()">Kirim Data ke Backend</button>